

/* Logo */
.logo {
    width: 4rem;
    height: auto;
    margin-right: 0.938rem;
}



/* Navbar */
.custom-navbar {
    background-color: #51f5c4;
    /* replace with your desired color */
}


/* Products button */
.custom-color {
    background-color: #51f5c4;
}

.custom-color:hover {
    background-color: #64f551;
}

/* product image */

.card-img-top{
     width: 100%;
     height: 12.5rem;
     object-fit: contain;
}
