/* universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Logo */
.logo {
    width: 4rem;
    height: auto;
    margin-right: 0.938rem;
}



/* Navbar */
.custom-navbar {
    background-color: #51f5c4;
    /* replace with your desired color */
}


/* Products button */
.custom-color {
    background-color: #51f5c4;
    color: black;
}

.custom-color:hover {
    background-color: #64f551;
    color: red;
}

/* product image */

.card-img-top{
     width: 100%;
     height: 12.5rem;
     object-fit: contain;
}


/* Admin */

.admin-image{
    width: 100px;
    object-fit: contain;
}